<div class="container section">
    <h2 class="section-heading">Bone Fracture Detection</h2>
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="upload-container">
                <div class="dotted-container">
                    <p>Uplaod X-ray image:</p>
                    <input type="file" accept="image/png,image/jpeg" ng2FileSelect [uploader]="uploader">
                </div>
            </div>
            <button class="btn" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload Image</button>
            <!-- <ngx-spinner></ngx-spinner> -->
            <div class="result">
                Result: {{result}}
            </div>
        </div>
    </div>
</div>