<div class="container-fluid background">
  <nav class="navbar">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.svg" width="30" height="30" class="nav-logo align-top" alt="">
      <h4 class="nav-heading">Mini Hospital</h4>
    </a>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 title-container">
        <h1 class="title">
          MINI HOSPITAL
        </h1>
        <div class="title-content">one stop medical assistance</div>
      </div>
      <div class="col-md-8">
        <img src="../assets/illustration.svg" class="illustration">
      </div>
    </div>
  </div>
</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/bone-fracture" routerLinkActive="active">Bone Fracture Detection</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/brain-tumor" routerLinkActive="active">Brain Tumor Detection</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/disease-prediction" routerLinkActive="active">Disease Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/nearby" routerLinkActive="active">Nearby Hospital</a>
  </li>
</ul>
<router-outlet></router-outlet>
<div class="footer"></div>
