<div class="container section">
    <h2 class="section-heading">Brain Tumor Detection</h2>
    <div class="row justify-content-center">
        <div class="col-md-7">
    <div class="upload-container">
        <div class="dotted-container">
            <p>Uplaod X-ray image:</p>
         <input type="file" class="choose-file" accept="image/png,image/jpeg" ng2FileSelect [uploader]="uploader">
        </div>
    </div>
<div class="row justify-content-center">
    <button class="btn col-md-3" (click)="uploader.uploadAll(); loader();" [disabled]="!uploader.getNotUploadedItems().length">Upload Image</button>
    <img class="loader col-md-2" *ngIf="isLoading" src="../../assets/loader.svg" />
</div>
    <div class="result">
       Result: {{result}}
    </div>
    </div>
</div>
</div>

